.displayMarkdownArea {
  border: 1px solid #999;
}
.milkdownEditorWrapper {
  height: 100%;
  div[data-milkdown-root] {
    height: 100%;
  }
  :global {
    .milkdown {
      height: 100%;
      .editor {
        height: 100%;
        outline: none;
      }
    }
  }
}
