.postWrapper {
  border-bottom: 1px solid #e8e8e8;
  .subInfo {
    color: #6b6b6b;
  }
}
.postTitle {
  color: #252933;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.postContent {
  font-size: 13px;
  line-height: 22px;
  color: #8a919f;
}
.postCard {
  padding: 20px 10px;
}
