.navWrapper{
  :global(.ant-menu-overflow) {
    border-color: transparent;
    :global(.ant-menu-overflow-item){
      display: block;
      padding: 0 10px;
      height: 30px;
      line-height: 31px;
      font-size: 15px;
      font-weight: 400;
      &::after{
        display: none;
      }
      &:hover{
        background: rgba(0, 0, 0, 0.04) !important;
        outline: none;
        transition: none;
        border-radius: 4px;
        
        
      }
    }
  }
} 
