.postDetailBox {
  .postDetailInnerBox {
    width: 1184px;
  }
  .headerActions {
    border-top: 1px solid rgb(242, 242, 242);
    border-bottom: 1px solid rgb(242, 242, 242);
    margin: 32px 0px 0px;
    padding: 10px 0;
    .isLiked {
      :global(.anticon) {
        color: #3f7ef7;
      }
    }
    :global(.anticon) {
      color: #131313;
      font-size: 18px;
    }
    .commentCount {
      font-size: 14px;
      color: #6b6b6b;
    }
  }
  .articleContent {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
