.mainHeaderBox{
  background: #fff;
  box-shadow: 0 2px 8px #f2f3f5;
  color: #909090;
  height: 5rem;
  z-index: 250;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all linear 0.3s;
  .innerWrapper{
    .navigation{
      
    }
  }
}
